* {
    background-color: rgb(122, 35, 20);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: #ffff;
    margin-bottom: auto;
}

p {
    color: #ffff;
    margin-bottom: auto;
}

header {
    position: sticky;
    position: -webkit-sticky;
    justify-content: space-between;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 300px 0 300px;
}

.btn {
    font-size: larger;
    padding: 2px 0;
    text-align: center;
    margin-bottom: 1px;
    text-decoration: none;
    color: #ffff;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: rgb(192, 125, 113);
    transition: transform 150ms;
    transform: scale(1.03);
}
